@model MotorsUp_.Models.Servicio

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Servicio</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="form-servicio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreServicio" class="control-label"></label>
                <input asp-for="NombreServicio" class="form-control" id="nombre" />
                <span asp-validation-for="NombreServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class="form-control" id="categoria" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="content-button">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('form-servicio').addEventListener('submit', function (e) {
            e.preventDefault();
            // Obtener los valores directamente y validar
            if (
                document.getElementById('nombre').value.trim() !== '' &&
                document.getElementById('categoria').value.trim() !== ''
            ) {
                swal.fire({
                    title: '¿Está seguro?',
                    text: '¿Está seguro que quiere editar este servicio?',
                    icon: 'info',
                    buttons: true,
                    dangerMode: false,
                    showCancelButton: true,
                }).then((confirmed) => {
                    if (confirmed.value) {
                        document.getElementById('form-servicio').submit();
                    } else {
                        swal.fire('Cancelado', 'El servicio no fue modificado', 'info');
                    }
                });
            } else {
                swal.fire({
                    title: 'Complete todos los campos',
                    icon: 'warning',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 1800
                });
            }
        });

    </script>
}
