@model MotorsUp_.Models.DetalleXventa

@{
    ViewData["Title"] = "Edit";
}

<h4 class="row justify-content-center">Editar detalle de ventas</h4>
<a asp-action="Index" style="text-decoration: none;"><i class="bi bi-arrow-left-square-fill"></i></a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="form-detalle-venta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" id="PrecioVenta" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" id="Cantidad" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>

            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" id="FechaHora" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" id="MetodoPago" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" id="Total" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="content-button">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('form-detalle-venta').addEventListener('submit', function (e) {
            e.preventDefault();
            // Obtener los valores directamente y validar
            if (
                document.getElementById('PrecioVenta').value.trim() !== '' &&
                document.getElementById('Cantidad').value.trim() !== '' &&
                document.getElementById('FechaHora').value.trim() !== '' &&
                document.getElementById('MetodoPago').value.trim() !== '' &&
                document.getElementById('Total').value.trim() !== ''
            ) {
               swal.fire({
                    title: '¿Está seguro?',
                    text: '¿Está seguro que quiere editar este detalle de venta?',
                    icon: 'info',
                    buttons: true,
                    dangerMode: false,
                    showCancelButton: true,
                }).then((confirmed) => {
                    if (confirmed.value) {
                        document.getElementById('form-detalle-venta').submit();
                    } else {
                        swal.fire('Cancelado', 'El detalle de venta no fue modificado', 'info');
                    }
                });
            } else {
                swal.fire({
                    title: 'Complete todos los campos',
                    icon: 'warning',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 1800
                });
            }
        });

    </script>
}
