@model MotorsUp_.Models.RolXpermiso

@{
    ViewData["Title"] = "Create";
}

<h4 class="row justify-content-center"> Añadir Rol x Permiso</h4>
<a asp-action="Index" style="text-decoration: none;"><i class="bi bi-arrow-left-square-fill"></i></a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form-rol">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPermiso" class="control-label"></label>
                <select asp-for="IdPermiso" class="form-control" asp-items="ViewBag.IdPermiso"></select>
            </div>
            <div class="content-button">
                <div class="form-group text-center" style="padding: 7px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('form-rol').addEventListener('submit', function (e) {
            e.preventDefault();

            // Obtener los valores directamente y validar
            if (
                document.getElementById('IdRol').value.trim() !== '' &&
                document.getElementById('IdPermiso').value.trim() !== ''
            ) {
                swal.fire({
                    title: 'Rol x Permiso registrado con éxito',
                    icon: 'success',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 1800
                }).then(() => {
                    document.getElementById('form-rol').submit();
                    setTimeout(() => {
                        window.location.replace("RolXpermisoes/");
                    }, 2000);
                });
            } else {
                swal.fire({
                    title: 'Complete todos los campos',
                    icon: 'warning',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 1800
                });
            }
        });
    </script>
}
